<launch>
  <node pkg="rpg_open_remode" type="depthmap_node" name="remode" clear_params="true" output="screen">
    <param name="cam_width" value="640" />
    <param name="cam_height" value="480" />
    <param name="cam_fx" value="481.2017" />
    <param name="cam_cx" value="319.5" />
    <param name="cam_fy" value="-480.0002" />
    <param name="cam_cy" value="239.5" />
    <param name="ref_compl_perc" value="10.0" />
    <param name="publish_conv_every_n" value="2" />
    <param name="max_dist_from_ref" value="0.5" />
  </node>   

  <node pkg="rpg_open_remode" type="vins_publisher" name="vins_publisher" clear_params="true" output="screen">
    <param name="min_depth" type="double" value="0.1" />
    <param name="max_depth" type="double" value="8.0" />
    <param name="image_topic" type="string" value="/VaFRIC_warpper/image" />
    <param name="pose_topic" type="string" value="/VaFRIC_warpper/cur_pose" />

    <!-- cropper image rotation:  R_{center}^{cropped} -->
    <param name="cropped_quat_w" type="double" value="1.0" />
    <param name="cropped_quat_x" type="double" value="0.0" />
    <param name="cropped_quat_y" type="double" value="0.0" />
    <param name="cropped_quat_z" type="double" value="0.0" />

    <!-- a path for result output -->
    <param name="result_path" type="string" value="/home/timer/temp/rmd_vafric_result" />

  </node>
</launch>
